
.full-container{
	background: #f1f2f5;
}

.block-title{
	font-size: 26px;
	text-align: center;
	color: #575656;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 28px;
}

.col-m4{
	width: 33.33%;
	float:left;
}

.col-m3{
	width: 25%;
	float:left;
}

/* ============================================
  					Header
 ============================================== */

.header{
	&__top{
	    max-width: 1110px;
		height: 80px;
	    margin: 0 auto;
	}
	&__logo{
		margin-top: 30px;
    	display: inline-block;
		img{
			width: 150px;
		}
	}
	&__nav{
		float: right;
		text-transform: uppercase;
		font-size: 14px;
		margin-top: 30px;
		.nav{
			float: left;
			margin-left: 35px;
			&__link{
				color: #575656;
				font-weight: bold;
			}
			&__link--btn{
				color: #61c0bd;
				border: 2px solid #b5e1e0;
				padding: 8px 25px;
			}
		}
	}
	&__banner{
		background: url('../images/slider.jpg');
		background-size: cover;
		background-attachment: fixed;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
		color: white;
		text-align: center;
	}
	&__title{
		font-size: 55px;
		text-transform: uppercase;
		font-weight: 300;
		padding-top: 65px;
		padding-bottom: 20px;
	}
	&__subtitle{
		max-width: 600px;
		margin: 0 auto;
		font-size: 17px;
		font-weight: 300;
		line-height: 35px;
		padding-bottom: 20px;
	}
	&__paragraph{
		font-size: 14px;
		max-width: 600px;
		margin: 0 auto;
		padding-bottom: 20px;
		line-height: 22px;
	}
	&__subtitle--spacing{
		padding-bottom: 85px;
	}
}

/* ============================================
  					Event
 ============================================== */


.event{
	max-width: 1110px;
	margin: 0 auto 35px;
	height: 118px;
	clear: both;
	padding-top: 35px; 
	&__next{
		float: left;
		&-event{
			font-size: 17px;
			color: #61c0bd;
			font-weight: 600;
		}
	}
	&__timing{
		color: #575656;
	}
	&__details{
		margin-top: 8px;
		font-size: 14px;
		color: #5b6172;
	}
	&__register{
		float: right;
		margin-top: 11px;
	}
	&__btn{
		background: #5fc0c3;
		color: white;
		padding:11px 21px;
		text-transform: uppercase;
		font-size: 14px;
	}
}

/* ============================================
  					Collaboration
 ============================================== */

.collaborate{
	max-width: 1110px;
	margin: 0 auto;
	&__block{
		text-align: center;
		margin-top: 35px;
		margin-bottom: 45px;
	}
	&__logo{
		width: 130px;
		margin-bottom: 30px;
		&--spacing{
			margin-top: 34px;
		}
	}
	&__subtitle{
		text-transform: uppercase;
		color: #575656;
		font-size: 17px;
		margin-bottom: 10px;
	}
	&__paragraph{
		color: #5b6172;
		font-size: 14px;
		max-width: 340px;
		margin: 0 auto 30px;
		line-height: 27px;
	}
	&__link{
		text-transform: uppercase;
		color: #61c0bd;
		border: 2px solid #b4e0e6;
		padding: 9px 44px;
		font-size: 14px;
	}
}

/* ============================================
  					Mission
 ============================================== */

.mission{
	max-width: 1110px;
	margin: 0 auto;
	text-align: center;
	padding-top: 1px;
	&__subtitle {
    	margin-top: 20px;
    	margin-bottom: 20px;
    	color: #5b6172;
    	font-size: 14px;
    	font-weight: 300;
	}
	&__invitation{
		color: #5b6172;
		font-size: 17px;
		font-weight: 400;
		margin-bottom: 90px;
	}
	&__goal{
		position: relative;
		background: white;
		width: 350px;
		margin: 0 auto 50px;
		text-align: center;
		&:not(:last-child){
			margin-right: 30px;
		}
	}
	&__title{
		color: #5dc0c9;
		font-size: 17px;
		font-weight: 400;
    	padding-top: 50px;
    	padding-bottom: 15px;
	}
	&__details{
		color: #575656;
		font-size: 14px;
		padding-bottom: 35px;
		padding-left: 20px;
		padding-right: 20px;
	}
	&__icon{
		width: 100px;
		height: 100px;
		line-height: 100px;
		background: #57c0d5;
		color: white;
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border: 10px solid white;
		i{
			font-size: 35px;
		}
	}
}

/* ============================================
  					Members
 ============================================== */

.members{
	max-width: 1110px;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 20px;
	border-top: 1px solid #dcdde0;
	.owl-carousel.owl-drag .owl-item {
	    display: table-cell;
	    float: none;
	    vertical-align: middle;
	}
	
	&__item{
		width: 100px;
	}
	&__logo{
		margin-top: 40px;
	}

}

/* ============================================
  					Blog
 ============================================== */

.blog-post{
	max-width: 1110px;
	margin: 0 auto 35px;
	&__col{
		margin-top: 20px;
	}
	&__title{
		color: #61c0bd;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 20px;
	}
	&__para{
		font-size: 14px;
		width: 260px;
		margin-bottom: 30px;
		color: #5b6172;
	}
	&__date{
		font-size: 14px;
		color: #5b6172;
	}
	.owl-item {
        display: block !important;
        float: left !important;
        vertical-align: initial;
    }
    .owl-prev {
	    position: absolute;
	    left: -70px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.owl-next {
	    position: absolute;
	    right: -70px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.owl-theme .owl-nav [class*='owl-'] {
	    color: #5fc0c3;
	    font-size: 30px;
	    background: transparent;
	}
}


 /* ============================================
  					Footer
 ============================================== */

.footer{
 	background: #454850;
 	text-align: center;
 	&__social{
 		max-width: 1110px;
	    margin: 0 auto;
 		padding-top: 28px;
 		padding-bottom: 28px;
 		border-bottom: 1px solid #4e525b;
 		a{
 			color: #61c0bd;
 			margin-left: 20px;
 		}
 	}
 	&__copyright{
 		color: #979eb1;
 		font-size: 14px;
 		padding-top: 21px;
 		padding-bottom: 21px;
 		&--link{
 			color: #5dc0c9;
 		}
 	}
 }